<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Results of this registration</title>
  </head>
  <body>
    <div th:insert="~{common/sourceList :: sourceList}"></div>
    <div th:replace="~{common/messageIcon :: messageIcon}"></div>
    <div class="container-fluid">
      <h2>This registration result screen</h2>
      <div th:insert="~{common/guideMessage :: guideMessage}"></div>
      <p><a th:href="@{/login}">▶Return to login screen</a></p>
    </div>
  </body>
</html>
