<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Sign up</title>
<div th:insert="~{common/sourceList :: sourceList}"></div>
<div th:replace="~{common/messageIcon :: messageIcon}"></div><link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div class="container">
		<h1>Register</h1>
		<div class="form">
				<div th:styleappend="|${isError?'background-color:red;':'background-color:blue;'}|" role="alert" th:if="${message!=null}">
					<span th:text="${message}"></span>
				</div>
			<form th:action="@{/signup}" method="post" th:object="${signupForm}">
			<div>				
				<label>login ID:</label>
				<input class="must" type="text" th:field="*{loginId}">
				<span style="color: red;" th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}"></span>
			</div>
			<div>				
				<label>password:</label>
				<input class="must" type="password" th:field="*{password}">
				<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
			</div>
			<div>
				<p><label for="mailAddress">mail address:</label>
				<input type="text" class="form-control" th:field="*{mailAddress}">
				<span class="text-danger" th:if="${#fields.hasErrors('mailAddress')}" th:errors="*{mailAddress}"></span>
			</div>
			<span style="color: red;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
			<div style="text-align: center;">				
				<input class="button" type="submit" value="signup">
			</div>
			<a th:href="@{login}">Login</a>
		</div>
	</div>
</form>
</body>
</html>