<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>USER LIST</title>
</head>
<body>
<div th:insert="common/sourceList :: sourceList"></div>
<div th:replace="common/header :: header"></div>
<div class="container-fluid">
	<h2 class="mt-3">User List</h2>
	<div class="mt-3">
		<span>Filter</span>
	</div>
	<div class="mt-1">
		<form th:action="@{/userList}" method="post" th:object="${userListForm}">
			<table>
				<tr>
					<td><span>Login ID：</span></td>
					<td>
						<div class="row g-3 align-items-center">
							<div class="col-auto">
								<input type="text" class="form-control" th:field="*{loginId}">
							</div>
							<div class="col-auto">
								<span class="form-text">※</span>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td><span>Account state：</span></td>
					<td>
						<select class="form-select" th:field="*{userStatusKind}">
							<option value="">None</option>
							<option th:each="userStatusKindOption : ${userStatusKindOptions}"
								th:value="${userStatusKindOption}" th:text="${userStatusKindOption.displayValue}"></option>
						</select>
					</td>
				</tr>
				<tr>
					<td><span>Ownership：</span></td>
					<td>
						<select class="form-select" th:field="*{authorityKind}">
							<option value="">None</option>
							<option th:each="authorityKindOption : ${authorityKindOptions}"
								th:value="${authorityKindOption}" th:text="${authorityKindOption.displayValue}"></option>
						</select>
					</td>
				</tr>
			</table>
			<input type="submit" class="btn btn-primary mt-3" name="search" value="Search">
		</form>
	</div>
	<div class="mt-3">
		<th:block th:unless="${#lists.isEmpty(userList)}">
			<form th:action="@{/manageUser}" method="post">
				<table class="table table-striped" id="userList">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">Login ID</th>
							<th scope="col">login Failure Count</th>
							<th scope="col">Account locked date</th>
							<th scope="col">Account state</th>
							<th scope="col">Ownership</th>
							<th scope="col">Registred date</th>
							<th scope="col">Last Update date</th>
							<th scope="col">last update user</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user, stat  : ${userList}">
							<th scope="row" th:text="${stat.count}"></th>
							<td th:id="|loginId_${stat.count}|"><span th:text="${user.loginId}"></span></td>
							<td th:id="|loginFailureCount_${stat.count}|"><span th:text="${user.loginFailureCount}"></span></td>
							<td th:id="|accountLockedTime_${stat.count}|"><span th:text="${user.accountLockedTime} != null ? ${#temporals.format(user.accountLockedTime, 'yyyy-MM-dd HH:mm')} : '-'"></span></td>
							<td th:id="|status_${stat.count}|"><span th:text="${user.status}"></span></td>
							<td th:id="|authority_${stat.count}|"><span th:text="${user.authority}"></span></td>
							<td th:id="|createTime_${stat.count}|"><span th:text="${#temporals.format(user.createTime, 'yyyy-MM-dd HH:mm')}"></span></td>
							<td th:id="|updateTime_${stat.count}|"><span th:text="${#temporals.format(user.updateTime, 'yyyy-MM-dd HH:mm')}"></span></td>
							<td th:id="|updateUser_${stat.count}|"><span th:text="${user.updateUser}"></span></td>
						</tr>
					</tbody>
				</table>
				<input type="submit" class="btn btn-secondary" id="updateBtn" name="update" value="更新" disabled>
				<input type="button" class="btn btn-danger" id="deleteDummyBtn" value="削除" disabled>
			</form>
		</th:block>
		<th:block th:if="${#lists.isEmpty(userList)}">
			<div class="text-center">
				<span>※The target user does not exist.</span>
			</div>
		</th:block>
		<div class="mt-3">
			<a th:href="@{/menu}">▶back to menu</a>
		</div>
	</div>
</div>
</html>